<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <ecomdev_rumbeacon>
                <enabled>0</enabled>
                <ingestion_url>{{base_url}}rum-ingest</ingestion_url>
            </ecomdev_rumbeacon>
        </system>
    </default>
</config>
